<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>
<body>

    <ul class="menu">
        <li>
            <input type="radio" name="option" id="strict">
            <label for="strict">Editing Mode</label>
        </li>
        <li>
            <input type="radio" name="option" id="adaptive">
            <label for="adaptive">Condenser On</label>
        </li>
        <li>
            <input type="radio" name="option" id="off">
            <label for="off">Condenser Off</label>
        </li>
        
    </ul>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/popup.js"></script>

</body>
</html>
